<!-- MODALBOX -->
	<div class="iknow_tm_modalbox">
		<div class="box_inner">
			<div class="close">
				<a href="#"><img class="svg" src="img/svg/cancel.svg" alt="" /></a>
			</div>
			<div class="description_wrap"></div>
		</div>
	</div>
	<!-- /MODALBOX -->
	
	<div class="iknow_tm_extra_demo_2">
	
		<span class="top_shape"></span>
		<!-- <span class="bottom_shape"></span> -->
	
		<div class="iknow_tm_fixed_background" data-img-url="img/hero/4.jpg"></div>
		
		<!-- TOPBAR -->
		<div class="iknow_tm_topbar smaller onepage">
			<div class="topbar_inner">
				<div class="logo">
					<a href="#"><img src="img/AliReza.png" alt="" /></a>
				</div>
				<div class="iknow_tm_button">
					<a href="img/cv/1.jpg" download>Download CV</a>
				</div>
			</div>
		</div>
		<!-- /TOPBAR -->
		
		<!-- MOBILE MENU -->
		<div class="iknow_tm_mobile_menu">
			<div class="mobile_menu_inner">
				<div class="mobile_in">
					<div class="logo">
						<a href="#"><img src="img/AliReza.png" alt="" /></a>
					</div>
					<div class="trigger">
						<div class="hamburger hamburger--slider">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dropdown">
				<div class="dropdown_inner">
					<ul class="anchor_nav">
						<li class="current"><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#resume">Resume</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#service">Service</a></li>
						<li><a href="#testimonials">Testimonial</a></li>
						<li><a href="#news">Blog</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /MOBILE MENU -->
		
		<!-- MAINPART -->
		<div class="iknow_tm_mainpart_new_2">
		
			<!-- SOCIAL -->
			<div class="social_list">
				<ul>
					<li><a href="#"><img class="svg" src="img/svg/social/facebook-2.svg" alt="" /></a></li>
					<li><a href="#"><img class="svg" src="img/svg/social/twitter-2.svg" alt="" /></a></li>
					<li><a href="#"><img class="svg" src="img/svg/social/youtube-3.svg" alt="" /></a></li>
					<li><a href="#"><img class="svg" src="img/svg/social/instagram-2.svg" alt="" /></a></li>
				</ul>
			</div>
			<!-- /SOCIAL -->
			
			<!-- MENU -->
			<div class="main_menu">
				<ul class="anchor_nav">
					<li class="current">
						<img class="svg" src="img/svg/squares.svg" alt="" />
						<span>Home</span>
						<a class="iknow_tm_full_link" href="#home"></a>
					</li>
					<li>
						<img class="svg" src="img/svg/archive.svg" alt="" />
						<span>About Me</span>
						<a class="iknow_tm_full_link" href="#about"></a>
					</li>
					<li>
						<img class="svg" src="img/svg/contacs.svg" alt="" />
						<span>Resume</span>
						<a class="iknow_tm_full_link" href="#resume"></a>
					</li>
					<li>
						<img class="svg" src="img/svg/briefcase.svg" alt="" />
						<span>Portfolio</span>
						<a class="iknow_tm_full_link" href="#portfolio"></a>
					</li>
					<li>
						<img class="svg" src="img/svg/gear.svg" alt="" />
						<span>Service</span>
						<a class="iknow_tm_full_link" href="#service"></a>
					</li>
					<li>
						<img class="svg" src="img/svg/message.svg" alt="" />
						<span>Testimonial</span>
						<a class="iknow_tm_full_link" href="#testimonials"></a>
					</li>
					<li>
						<img class="svg" src="img/svg/writing.svg" alt="" />
						<span>Blog</span>
						<a class="iknow_tm_full_link" href="#news"></a>
					</li>
					<li>
						<img class="svg" src="img/svg/letter.svg" alt="" />
						<span>Contact</span>
						<a class="iknow_tm_full_link" href="#contact"></a>
					</li>
				</ul>
			</div>
			<!-- /MENU -->