		{# <span class="top_shape"></span> #}
		<!-- <span class="bottom_shape"></span> -->
	
		<div class="iknow_tm_fixed_background" data-img-url="/{{ directory }}/assets/img/hero/4.jpg"></div>
		<!-- TOPBAR -->
		<div class="iknow_tm_topbar smaller onepage" data-position="absolute">
			<div class="container">
				<div class="topbar_inner">
					<div class="logo">
						<a href="/"><img src="/{{ directory }}/assets/img/AliReza.png" alt="" /></a>
					</div>
					<div class="right">
						<div class="iknow_tm_button">
							<a href="/{{ directory }}/assets/img/cv/1.jpg" download>Download CV</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /TOPBAR -->
		<!-- MOBILE MENU -->
		<div class="iknow_tm_mobile_menu">
			<div class="mobile_menu_inner">
				<div class="mobile_in">
					<div class="logo">
						<a href="#"><img src="/{{ directory }}/assets/img/AliReza.png" alt="" /></a>
					</div>
					<div class="trigger">
						<div class="hamburger hamburger--slider">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dropdown">
				<div class="dropdown_inner">
					<ul class="anchor_nav">
						<li class="current"><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#resume">Resume</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#service">Service</a></li>
						<li><a href="#testimonials">Testimonial</a></li>
						<li><a href="#news">Blog</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /MOBILE MENU -->